include *.txt
include LICENSE
include AUTHORS
include README.rst
include CHANGELOG
include NOTICE
include pylintrc
include tox.ini
include .coveragerc
recursive-include diff_cover *.txt *.html *.css *.xml *.py *.md *.cpp pylintrc
