[tool.poetry]
name = "diff_cover"
version = "6.2.2"
description = "Run coverage and linting reports on diffs"
authors = ["See Contributors"]
homepage = "https://github.com/Bachmann1234/diff-cover"
repository = "https://github.com/Bachmann1234/diff-cover"
license = "Apache 2.0"
readme = "README.rst"
classifiers=[
        "Development Status :: 5 - Production/Stable",
        "Environment :: Console",
        "Intended Audience :: Developers",
        "License :: OSI Approved :: Apache Software License",
        "Operating System :: OS Independent",
        "Programming Language :: Python",
        "Programming Language :: Python :: 3",
        "Programming Language :: Python :: 3.6",
        "Programming Language :: Python :: 3.7",
        "Programming Language :: Python :: 3.8",
        "Programming Language :: Python :: 3.9",
        "Programming Language :: Python :: Implementation :: CPython",
        "Topic :: Software Development :: Testing",
        "Topic :: Software Development :: Quality Assurance",
]
packages = [
    { include = "diff_cover" },
    { include = "diff_cover/violationsreporters" },
]
include = [
    "templates/*.txt",
    "templates/*.html",
    "templates/*.css",
    "templates/*.md"
]

[tool.poetry.scripts]
diff-cover = 'diff_cover.diff_cover_tool:main'
diff-quality = 'diff_cover.diff_quality_tool:main'

[tool.poetry.dependencies]
python = "^3.6.2"
Pygments = "^2.9.0"
Jinja2 = ">=2.7.1"
jinja2_pluralize = "^0.3.0"
pluggy = "^0.13.1"
chardet = ">=3.0.0"
tomli = {version = "^1.2.1", optional = true}
setuptools = ">=17.0.0"

[tool.poetry.dev-dependencies]
pytest-cov = "^2.12.1"
pytest-datadir = "^1.3.1"
pytest-mock = "^3.6.1"
pycodestyle = ">=2.4.0"
flake8 = "^3.9.2"
pyflakes = "^2.3.1"
pylint = "^2.9.6"
pylint-pytest = "^1.1.2"
pydocstyle = "^6.1.1"
black = "^21.7b0"
isort = "^5.9.3"
doc8 = "0.9.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88
target-version = ['py39']
include = '\.pyi?$'
exclude = "tests/fixtures/*"

[tool.isort]
profile = "black"
extend_skip = "tests/fixtures/"

[tool.pylint.master]
max-line-length = 100
load-plugins = [
    "pylint_pytest",
]

[tool.pylint."messages control"]
enable = ["all"]
disable = [
    # allow TODO comments
    "fixme",
    # allow disables
    "locally-disabled",
    "suppressed-message",
    # covered by isort
    "ungrouped-imports",
    # allow classes and functions w/o docstring
    "missing-docstring",
    # hard number checks can be ignored, because they are covered in code reviews
    "too-many-instance-attributes",
    "too-many-arguments",
    "too-many-locals",
    "too-many-branches",
    "too-few-public-methods",
    "too-many-nested-blocks",
    "too-many-public-methods",
    # allow methods not to use self
    "no-self-use",
    # currently some code seems duplicated for pylint
    "duplicate-code",
    # we are a command line tool and don't want to show all internals
    "raise-missing-from",
]

[tool.pylint.basic]
good-names = [
    "_",
    "i",
    "setUp",
    "tearDown",
    "e",
    "ex",
]
no-docstring-rgx = "^_"

[tool.pytest.ini_options]
addopts = "--strict-markers"
xfail_strict = true
markers = [
    "disable_all_files_exist: disables the fixture patch_so_all_files_exist",
]

[tool.doc8]
max_line_length = 120
