# Common requirements for developing on all supported python versions
pytest-cov
pytest-datadir
pytest-mock
pycodestyle>=2.4.0
flake8
pyflakes
pylint
pylint-pytest
pydocstyle
tox==3.23.1
black
isort
-r requirements.txt